<div class="row">
	<div class="span4">
		<div class="panel">
			<h3>My Details</h3>
			<label>Name</label> <input type="text" readonly="readonly" value="John Smith">
			
			<label>Address</label> <input type="text" readonly="readonly" value="500 South Street">
			
			<label>City</label> <input type="text" readonly="readonly" value="Springfield">
			
			<label>State</label> <input type="text" readonly="readonly" value="VA">
			
			<label>Zip</label> <input type="text" readonly="readonly" value="22902">
			
			<label>Email</label> <input type="text" readonly="readonly" value="name@domain.com">
			<br>
			<button>Edit</button>
		</div>

	</div>
	<div class="span4">
		<div class="panel">
			<h3>My Endowments</h3>
			<ul>
				<li><a href="#/endowments/123">Some Endowment Name</a></li>
				<li><a href="#/endowments/123">Some Other Endowment Name</a></li>
			</ul>
		</div>
	</div>
	<div class="span4">
		<div class="panel">
			<h3>Payment Accounts</h3>
			<ul>
				<li><a href="">Dwolla</a></li>
			</ul>
		</div>
	</div>
</div>