<div class="row">
	<div class="span8">
		<div class="panel">
			<form>
				<input class="span6" type="text" value="Find an Endowment"><input type="submit" value="Search">
			</form>
		</div>
		 <div class="panel">
			<div class="endowment__charities-list">
				<ul>
					<li>
						<div class="row">
							<div class="span2">
								<img src="http://placehold.it/150x150">
							</div>
							<div class="span5">
								<a href="#/endowments/12345">Giv2Giv Endowment for The Arts</a>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et magna non augue rutrum fringilla ut sed felis.</p>
								<p>With the help of <strong>500</strong> donors this endowment grown to <strong>$50,000</strong> and have given back <strong>$500</strong> to charities.</p>
							</div>
						</div>
					</li>
					<li>
						<div class="row">
							<div class="span2">
								<img src="http://placehold.it/150x150">
							</div>
							<div class="span5">
								<a href="#/endowments/12345">Giv2Giv Endowment for The Arts</a>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et magna non augue rutrum fringilla ut sed felis.</p>
								<p>With the help of <strong>500</strong> donors this endowment grown to <strong>$50,000</strong> and have given back <strong>$500</strong> to charities.</p>
							</div>
						</div>
					</li>
					<li>
						<div class="row">
							<div class="span2">
								<img src="http://placehold.it/150x150">
							</div>
							<div class="span5">
								<a href="#/endowments/12345">Giv2Giv Endowment for The Arts</a>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et magna non augue rutrum fringilla ut sed felis.</p>
								<p>With the help of <strong>500</strong> donors this endowment grown to <strong>$50,000</strong> and have given back <strong>$500</strong> to charities.</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="span4">
		<div class="panel">
			<a class="btn" href="#/endowment/create">Create New Endowment</a>
		</div>
	</div>
</div>