<div class="row">
	<div class="span8">
		<div class="panel">
			<input class="span6" type="text" ng-model="result" typeahead="suggestion for suggestion in cities($viewValue)">
			<input type="submit" value="Search">
		</div>
		 <div class="panel">
			<div class="endowment__charities-list">
				<ul>
					<li ng-repeat="charity in charities">
						<div class="row">
							<div class="span2">
								<div class="list__thumb">
									<img src="http://placehold.it/150x150">
								</div>
								<div>
									<a href="#/donate/{{charity.charity_group.id}}" class="btn">Donate</a>
								</div>
							</div>
							<div class="span5">
								<h4><a href="#/endowments/{{charity.charity_group.id}}">{{charity.charity_group.name}}</a></h4>
								<p>{{charity.charity_group.description}}
									<a href="#/endowments/{{charity.charity_group.id}}">Read More</a>
								</p>
								<p class="recap-message">With the help of <strong>500</strong> donors this endowment has grown to <strong>$50,000</strong> and have given back <strong>$500</strong> to charities.</p>
								<div class="tags">
									<span class="tag">Arts</span> <span class="tag">Education</span>
								</div>
							</div>
						</div>
					</li>
				</ul>
				<div class="show-more">
					<a href="#">Show More</a>
				</div>
			</div>
		</div>
	</div>
	<div class="span4">
		<div class="panel">
			<p class="tags">
				 <h3>Charities</h3>
				 <span class="tag" ng-repeat="charity in charities">{{charity.charity_group.name}}</span>
		
			</p>
			<div class="clear"></div>
			<p class="tags">
				 <h3>Tags</h3>
				 <span class="tag" ng-repeat="tag in tags">{{tag}}</span>
		
			</p>
			<div class="clear"></div>
		</div>
		<div class="panel">
			<a class="btn" href="#/endowment/create">Create New Endowment</a>
		</div>
	</div>
</div>
<pre>
	{{debug}}
</pre>