<div class="row">
	<div class="span8">
		<div class="endowment">
			<div class="endowment__image" style="background-image: url('http://i.istockimg.com/file_thumbview_approve/4011441/2/stock-photo-4011441-ballerinas.jpg')">
				<h1 class="endowment__title">{{endowment.charity_group.name}}</h1>
			</div>

			<p class="endowment__description">
			{{endowment.charity_group.description}}
			</p>
		</div>
		<div class="endowment__stats">
			<ul>
				<li>
					<span class="endowment__amount">$5000</span>
					<br>
					Size
				</li>
				<li>
					<span class="endowment__amount">500</span>
					<br>
					Donors
				</li>
				<li>
					<span class="endowment__amount">$100</span>
					<br>
					Given
				</li>
			</ul>
			<div class="endowment__action">
				<a class="btn" href="#/donate/{{endowment.charity_group.id}}">Donate</a>
			</div>
		</div>
		<div class="panel">
			<div class="endowment__charities-list">
				<ul>
					<li ng-repeat="charity in endowment.charity_group.charities">
						<div class="row">
							<div class="span2">
								<div class="list__thumb">
									<img src="http://placehold.it/150x150">
								</div>
							</div>
							<div class="span5">
								<h4><a href="#/charities/{{charity.id}}">{{charity.name}}</a></h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et magna non augue rutrum fringilla ut sed felis. 
									<a href="#/charities/1234">Read More</a>
								</p>
								<p class="recap-message">With the help of <strong>500</strong> donors this charity has received <strong>$50</strong> in donations from this endowment.</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- <div class="panel">
			
		</div> -->

	</div>
	<div class="span4">
		<div class="panel">
			<h4>Share</h4>
			<a href="">Facebook</a>
			<br>
			<a href="">Twitter</a>
			<br>
			<a href="">Email</a>
			<br>
			<input class="span2" type="text" ng-model="url"><button>copy</button>
		</div>
		<div class="panel">
			<a class="btn" href="#/endowment/create">Create New Endowment</a>
		</div>
	</div>
</div>
<pre>{{debug}}</pre>