<div class="row">
	<div class="span8">
		<div class="endowment">
			<div class="endowment__image" style="background-image: url('http://i.istockimg.com/file_thumbview_approve/4011441/2/stock-photo-4011441-ballerinas.jpg')">
				<h1 class="endowment__title">John Smith Endowment <br>for The Arts</h1>
			</div>

			<p class="endowment__description">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed rhoncus urna, in euismod nunc. Curabitur sagittis orci eu nisl sagittis pellentesque. Mauris interdum ut ligula a placerat. Proin dictum convallis justo at volutpat. In pulvinar eros at ipsum volutpat, vel viverra neque feugiat. Phasellus malesuada tortor eget consectetur lobortis.
			</p>
		</div>
		<div class="endowment__stats">
			<ul>
				<li>
					<span class="endowment__amount">$5000</span>
					<br>
					Size
				</li>
				<li>
					<span class="endowment__amount">500</span>
					<br>
					Donors
				</li>
				<li>
					<span class="endowment__amount">$100</span>
					<br>
					Given
				</li>
			</ul>
			<div class="endowment__action">
				<a class="btn" href="#/donate/1234">Donate</a>
			</div>
		</div>
		<div class="panel">
			
			<div class="endowment__charities">
				<h3>Charities</h3>
				
			</div>
			<div class="endowment__charities-list">
				<ul>
					<li>
						<img src="http://placehold.it/70x70"/>
						<a href="#/charities/1234">The Red Cross</a>
					</li>
					<li>
						<img src="http://placehold.it/70x70"/>
						<a href="#/charities/1234">The United Way</a>
					</li>
					<li>
						<img src="http://placehold.it/70x70"/>
						<a href="#/charities/1234">AARP</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="span4">
		<div class="panel">
			<a class="btn" href="#/endowment/create">Share Endowment</a>
			<br>
			<a class="btn" href="#/endowment/create">Create New Endowment</a>
		</div>
	</div>
</div>