<!-- <div class="navbar navbar-fixed-top">
	<div class=""></div>

</div> -->
<header class="pull-center" id="masthead">
  <nav class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <div class="header-auth">
          <a href="#/register" class="pull-right">Join</a>
         </div>
        <div class="header-logo">
          <a href="#/"><img src="http://giv2giv.org/images/giv2giv-org.png"></a>
         </div>
         
      </div>
    </div>
  </nav>
</header>